body{
    background-image:url(https://th.bing.com/th/id/R.c7f350e5213b19908d2f6289a48d8183?rik=YeNTSGQd3LU4pA&pid=ImgRaw&r=0);
}
#botton img{
    width: 200px;
}
nav{
    background-color:white;
    color:black;
}
