
body{
    background-image: url(https://th.bing.com/th/id/OIP.6eQhBMUf_WNr57kuYWKvRgHaEK?pid=ImgDet&rs=1);
}
#botton img{
    width: 200px;
}
nav{
    background-color:white;
    color:black;
}
nav p{
    display:inline;
}
